name: Build
on:
  push:
    branches:
      - '*'
  pull_request:
    branches: 
      - '*'
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version-file: 'go.mod'

    - name: Generate assets
      run: |
        go generate ./...

    - name: Run tests
      run: go test -v ./...

    - name: Build
      run: go build -o bin/go-licence-detector -v .
