name: Build
on:
  push:
    branches:
      - '*'
  pull_request:
    branches: 
      - '*'
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'
      id: go

    - name: Install pkger
      run: |
        go get -u github.com/markbates/pkger/cmd/pkger

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Generate assets
      run: |
        go generate ./...

    - name: Run tests
      run: go test -v ./...

    - name: Build
      run: go build -o bin/go-licence-detector -v .
