name: Build
on:
  push:
    branches:
      - '*'
  pull_request:
    branches: 
      - '*'
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        go-version-file: 'go.mod'

    - name: Generate assets
      run: |
        go generate ./...

    - name: Run tests
      run: go test -v ./...

    - name: Build
      run: go build -o bin/go-licence-detector -v .
